
/* General Body and Tag Styling */
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(purple, orchid);
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  background: rgba(15, 15, 15, 0.822);
  color: #fff;
  font-weight: bold;

}

button:hover {
  background-color: #BA55D3;
}

/* Navigation Bar Styling  */
nav {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  color: white;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: bold;
}
nav ul {
  display: flex;
  margin: 0;
  align-self: center;
  height: 100%;
  padding-right: 10px;
}
nav li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 15 0 15;
}
nav li:hover {
  background-color: #BA55D3;
}
#navlinks {
  display: flex;
  height: 100%;
  align-self: center;
}
#logo {
  display: flex;
  padding-left: 10px;
  align-self: center;
}
#main-container {
  width: 100%;
  height: calc(100vh - 50px);;
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#inner-container {
  max-width: 1300px;
  height: calc(100vh - 50px);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
}

#clan-box {
  width: 610px;
  color: #fff;
  height: 145px;
  padding: 5px 5px 0px 5px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.562);
  margin: 30px auto;
  
}
#clan-box h3 {
  padding: 2px;
  font-family: sans-serif;
  margin: 0 auto;
  display: flex;
  filter: drop-shadow(8px 8px 5px black);
}
#clan-info {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 350;
}
#clan-description {
  width: 350px;
  height: 115px;
  display: flex;
  flex-direction: column;
}
#clan-description p {
  margin: 0;
  font-size: 13px;
  padding: 0 0 0 10px;
}
#clan-options {
  width: 350px;
  height: 45px;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
}

#clan-options button {
  height: 35px;
  width: 110px;
  border-radius: 5px;
  
}

.background {
  position: absolute;
  opacity: 0.05;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: hidden;
  height: calc(100vh - 50px);
  width: 100%;
}
.discord {
  height: 35px;
  width: auto;
  display: flex;
  margin-right: 5px;
  border-radius: 5px;
}
.clan-image {
  width: 250px;
  height: 140px;
}

/* content box styles */
#content-box {
  width: 610px;
  height: 450px;
  padding: 5px 5px 5px 5px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.568);
  color: #fff;
  margin: 25px auto;
  font-size: 12px;
}

#content-box button {
  height: 30px;
  width: 535px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 5px;
}
#content-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
#content-box input {
  margin: 5px;
}
#content-box h3 {
  padding: 2px;
  font-size: 24px;
  font-family: sans-serif;
  margin: 0 auto;
  display: flex;
  filter: drop-shadow(8px 8px 5px black);
}
#content-info {
  display:flex;
  flex-direction: column;
  width: 100%;
}
#content-description {
  width: 600px;
  display: flex;
  flex-direction: column;
}
#content-description p {
  margin: 0 auto;
  font-size: 13px;
  padding: 0 0 0 10px;
}

/* login box styling */
#login-box {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  top: 50px;
  right: 0px;
  height: 140px;
  width: 300px;
  background: rgba(41, 41, 41, 0.95);
  padding: 5px 0;
  z-index: 3;
}
#login-box form {
  display: block;
  margin: 0;
 
}
#login-box .textboxes {
  display: block;
  margin:  5px auto;
}

#login-box button {
  height: 30px;
  padding: 5px;
  width: 250px;
  margin-bottom: 10px;
  
  display: flex;
  margin: auto;
  justify-content: center;
 
}

#search-box {
  position: fixed;
  display: none;
  justify-content: center;
  top: 50px;
  right: 0px;
  height: 35px;
  width: 380px;
  background-color: #232323;
  padding: 5px 0;
}

#search-box button {
  height: 30px;
  width: 100px;
 
}

#footer {
  height: 25vh;
  width: 100%;
  background-color: rgb(24, 24, 24);
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: -3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
